.probootstrap-hero {
    display: grid;
    place-items: center;
    height: 80vh !important;
    padding-top: 88px;
    background-color: #6c6c6c;
    background: linear-gradient(#4c4c4c, #6c6c6c);
}

.probootstrap-hero .probootstrap-slider-text {
    padding-top: unset;
}

.donate-container .probootstrap-form {
    margin-bottom: unset;
}

.probootstrap-contact-info {
    margin-bottom: unset;
}

.scheme-amount-container {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 125px);
    margin-top: 10px;
}

.perk-msg {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 10px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.radio-input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.radio-label {
    width: 125px;
    text-align: center;
    color: #01C632;
    cursor: pointer;
    padding: 3px 12px;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: unset;
    user-select: none;
}

.radio-input:checked + .radio-label {
    background-color: #01C632;
    color: #FFF;
}

.radio-label:hover, .radio-input:hover + .radio-label,
.radio-input:focus + .radio-label  {
    box-shadow: 0 0 1px 2px #01C63230;
}

.refund-policy-label {
    display: inline;
    margin-left: 5px;
}

.razorpay-btn, .bank-transfer-btn {
    width: 350px;
}

/* Begin: Perks Part */
.donate-container {
    width: 90vw;
    margin: auto;
}
.donate-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}
.perks-container {
    padding: 15px;
    border: 1px solid grey;
}
.perks-heading {
    font-weight: 700;
    margin-bottom: 20px;
}
.perks-title {
    font-weight: 700;
}
.perks-brief {
    margin-left: 30px;
}
.probootstrap-contact-info .perks-note {
    margin-bottom: unset;
    padding: 20px;
    border: 1px dashed goldenrod;
}
.probootstrap-contact-info .perks-note .perks-brief {
    margin: unset;
}
/* End: Perks Part */

/* Begin: Media Queries */
@media screen and (max-width: 922px) {
    .donate-grid {
        grid-template-rows: fit-content;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .perks-container {
        order: -1;
    }
}
@media screen and (max-width: 426px) {
    .scheme-amount-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 125px);
    }
}

@media screen and (max-width: 380px) {
    .razorpay-btn, .bank-transfer-btn {
        width: 100%;
    }
}
/* End: Media Queries */