/* Your custom css code goes here */

/* Intro (Hero) */

.probootstrap-hero {
    display: grid;
    place-items: center;
    height: 100vh !important;
    padding-top: 88px;
    background-color: #6c6c6c;
    background: linear-gradient(#4c4c4c, #6c6c6c);
}

.probootstrap-hero .mcontainer {
    height: 80vh;
    width: 100%;
    padding: 0 4em;
}

.probootstrap-hero .probootstrap-slider-text {
    padding-top: unset;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.youtube-iframe {
    width: 50vw;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.about-cover-photo {
    height: 285px;
    aspect-ratio: 4/1;
}

.money {
    font-weight: 400;
}

.remove-m-xs {
    margin-right: unset;
    margin-left: unset;
}

.progress {
    margin-bottom: 20px;
}

.probootstrap-raised, .probootstrap-goal {
    padding: unset;
}

.main-title {
    margin: unset;
    color: #000;
    font-size: 2em;
    font-weight: 700;
}

.donation-description {
    margin-bottom: 10px !important;
}

.btn-black {
    font-size: 1.1em;
    padding: 0.5em 2em;
    margin-top: 10px;
}

@media screen and (max-width: 1252px) {
    .probootstrap-hero .mcontainer {
        padding: 0 2em;
    }
}

@media screen and (max-width: 933px) {
    .hero-flex {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .youtube-iframe {
        width: 570px;
    }
    .hero-intro {
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }
}

@media screen and (max-width: 768px) {
    .probootstrap-hero .probootstrap-slider-text h1 {
        font-size: 80px;
        line-height: 60px;
    }
    .probootstrap-hero .probootstrap-slider-text h1 span {
        font-size: 30px;
        line-height: 60px;
    }
    .about-cover-photo {
        height: unset;
        aspect-ratio: 6/3;
    }
    .main-title {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 642px) {
    .probootstrap-hero .mcontainer {
        padding: 0 10px;
    }
    .youtube-holder {
        width: 100%;
    }
    .youtube-iframe {
        width: 100%;
    }
    .probootstrap-cause-inner {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

@media screen and (max-width: 480px) {
    .probootstrap-hero .probootstrap-slider-text h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .probootstrap-hero .probootstrap-slider-text h1 span {
        font-size: 30px;
        line-height: 40px;
    }
}