.working * {
    border: 1px solid #000;
}

html, body {
    scroll-behavior: smooth;
}

.probootstrap-navbar .navbar-brand {
    background-image: url(../img/bf-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.probootstrap-footer {
    padding-top: 1em;
}

.footer-logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.footer-logo-img {
    width: 250px;
}

.m-copyright {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .probootstrap-footer {
        padding-bottom: 0;
    }
}