.working * {
    border: 1px dashed #000;
}

html, body {
    scroll-behavior: smooth;
}

/* Begin: Navbar */
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-support-btn {
    display: none;
}
.navbar-toggle {
    position: unset;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header-support-btn {
        display: inline-block;
        margin-left: auto;
        margin-right: 2%;
    }
    .navbar-toggle {
        margin-right: 2%;
    }
}
/* End: Navbar */

.probootstrap-navbar .navbar-brand {
    background-image: url(../img/bf-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.required-field {
    vertical-align: sub;
    color: #F00;
    font-size: 20px;
}

.probootstrap-footer {
    padding-top: 1em;
}

.footer-logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.footer-logo-img {
    width: 250px;
}

.m-copyright {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .probootstrap-footer {
        padding-bottom: 0;
    }
}